
<head>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Jost:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="../../../../assets/assets/css/style.css" rel="stylesheet">
</head>
<body>
    <app-navigation></app-navigation>
  
    <!-- ======= Hero Section ======= -->
    <section id="hero" class="d-flex align-items-center">
  
      <div class="container">
        <div class="row">
          <div class="col-lg-6 d-flex flex-column justify-content-center pt-4 pt-lg-0 order-2 order-lg-1" data-aos="fade-up" data-aos-delay="200">
            <h1>Sé parte de la mejor comunidad gamer</h1>
            <h2>Únete a TeamWork GG y lucha por ser el mejor</h2>
          </div>
          <div class="col-lg-6 order-1 order-lg-2 hero-img" data-aos="zoom-in" data-aos-delay="200">
            <img src="../../../../assets/assets/img/LolHead.png" class="img-fluid animated" alt="">
          </div>
        </div>
      </div>
  
    </section><!-- End Hero -->
  
    <main id="main">
  
      <!-- ======= Cliens Section ======= -->
      <section id="cliens" class="cliens section-bg">
        <div class="container">
  
          <div class="row" data-aos="zoom-in">
  
            <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
              <img src="../../../../assets/assets/img/clients/riot-games-logo.png" class="img-fluid" alt="">
            </div>
  
            <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
              <img src="../../../../assets/assets/img/clients/lol-league-of-Legends-logo.png" class="img-fluid" alt="">
            </div>
  
            <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
              <img src="../../../../assets/assets/img/clients/VLogo.png" class="img-fluid" alt="">
            </div>
  
            <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
              <img src="../../../../assets/assets/img/clients/LunaLogo.png" class="img-fluid" alt="">
            </div>
  
            <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
              <img src="../../../../assets/assets/img/clients/Teamfight_Tactics_logo.png" class="img-fluid" alt="">
            </div>
  
            <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
              <img src="../../../../assets/assets/img/clients/riot-api-landing.png" class="img-fluid" alt="">
            </div>
  
          </div>
  
        </div>
      </section><!-- End Cliens Section -->

      <!-- ======= Services Section ======= -->
      <section id="services" class="services section-bg">
        <div class="container" data-aos="fade-up">
  
          <div class="section-title">
            <h2>Servicios</h2>
            <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p>
          </div>
  
          <div class="row">
            <div class="col-xl-3 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
              <div class="icon-box">
                <div class="icon"><i class="far fa-chart-bar"></i></div>
                <h4><a>Estadísticas</a></h4>
                <p>Conoce tus estadísticas del juego y observa como van mejorando tus habilidades!</p>
              </div>
            </div>
  
            <div class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-md-0" data-aos="zoom-in" data-aos-delay="200">
              <div class="icon-box">
                <div class="icon"><i class="fas fa-trophy"></i></div>
                <h4><a>Torneos</a></h4>
                <p>Participa en los torneos que organiza la comunidad o crea los tuyos propios!</p>
              </div>
            </div>
  
            <div class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-xl-0" data-aos="zoom-in" data-aos-delay="300">
              <div class="icon-box">
                <div class="icon"><i class="fas fa-align-justify"></i></div>
                <h4><a>Foro</a></h4>
                <p>Forma parte de una comunidad increible de jugadores donde tu opinión cuenta!</p>
              </div>
            </div>
  
            <div class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-xl-0" data-aos="zoom-in" data-aos-delay="400">
              <div class="icon-box">
                <div class="icon"><i class="fab fa-teamspeak"></i></div>
                <h4><a>Equipos</a></h4>
                <p>Busca o forma tus propios equipos con jugadores con tus mismas habilidades!</p>
              </div>
            </div>
  
          </div>
  
        </div>
      </section><!-- End Services Section -->
  
      <!-- ======= Pricing Section ======= -->
      <section id="pricing" class="pricing">
        <div class="container" data-aos="fade-up">
  
          <div class="section-title">
            <h2>Precios</h2>
            <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p>
          </div>
  
          <div class="row justify-content-center">
  
            <div class="col-lg-4 mt-4 mt-lg-0" data-aos="fade-up" data-aos-delay="100">
              <div class="box">
                <h3>Free</h3>
                <h4><sup>$</sup>0<span>al mes</span></h4>
                <ul>
                  <li><i class="fas fa-check"></i> Ver estadísticas</li>
                  <li><i class="fas fa-check"></i> Participar en torneos</li>
                  <li><i class="fas fa-check"></i> Acceso al foro</li>
                  <li><i class="fas fa-check"></i> Buscar e ingresar en equipos</li>
                  <li class="na"><i class="fas fa-times"></i> <span>Crear torneos</span></li>
                  <li class="na"><i class="fas fa-times"></i> <span>Crear equipos</span></li>
                  <li class="na"><i class="fas fa-times"></i> <span>Crear temas en el foro</span></li>
                </ul>
                <a routerLink="/register" class="buy-btn">Crear cuenta</a>
              </div>
            </div>
  
            <div class="col-lg-4 mt-4 mt-lg-0" data-aos="fade-up" data-aos-delay="200">
              <div class="box featured">
                <h3>Subscripción</h3>
                <h4><sup>$</sup>XXX<span>al mes</span></h4>
                <ul>
                    <li><i class="fas fa-check"></i> Ver estadísticas</li>
                    <li><i class="fas fa-check"></i> Participar en torneos</li>
                    <li><i class="fas fa-check"></i> Acceso al foro</li>
                    <li><i class="fas fa-check"></i> Buscar e ingresar en equipos</li>
                    <li><i class="fas fa-check"></i> <span>Crear torneos</span></li>
                    <li><i class="fas fa-check"></i> <span>Crear equipos</span></li>
                    <li><i class="fas fa-check"></i> <span>Crear temas en el foro</span></li>
                </ul>
                <a routerLink="/register" class="buy-btn">Crear cuenta</a>
              </div>
            </div>
  
          </div>
  
        </div>
      </section><!-- End Pricing Section -->
  
    </main><!-- End #main -->
  
    <!-- ======= Footer ======= -->
    <footer id="footer">
      <div class="container footer-bottom clearfix">
        <div class="copyright">
          &copy; Copyright <strong><span>TeamWork GG</span></strong>. All Rights Reserved
        </div>
      </div>
    </footer><!-- End Footer -->

  <!-- Vendor JS Files -->
    <script src="../../../../assets/assets/vendor/jquery/jquery.min.js"></script>
    <script src="../../../../assets/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="../../../../assets/assets/vendor/jquery.easing/jquery.easing.min.js"></script>
    <script src="../../../../assets/assets/vendor/php-email-form/validate.js"></script>
    <script src="../../../../assets/assets/vendor/waypoints/jquery.waypoints.min.js"></script>
    <script src="../../../../assets/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
    <script src="../../../../assets/assets/vendor/venobox/venobox.min.js"></script>
    <script src="../../../../assets/assets/vendor/owl.carousel/owl.carousel.min.js"></script>
    <script src="../../../../assets/assets/vendor/aos/aos.js"></script>

    <!-- Template Main JS File -->
    <script src="../../../../assets/assets/js/main.js"></script>
  </body>